---
import { Image } from "astro:assets";

import img1 from "../assets/img/img_01.jpeg";
import img2 from "../assets/img/img_02.jpeg";
import img3 from "../assets/img/img_03.jpeg";
import Layout from "../layouts/Layout.astro";
import Right from "../components/icone/right.astro";
import Left from '../components/icone/left.astro';
import Heart from '../components/icone/heart.astro';
import Star from '../components/icone/star.astro';
import Cart from '../components/icone/shopping-cart.astro'
import Down from '../components/icone/down.astro'
import Up from '../components/icone/up.astro'
import Transfer from '../components/icone/transfer.astro';
---

<Layout title="Teste Panda">
  <div class="container">
    <nav class="navbar">
      <div class="breadcrumb">
        <a class="breadcrumb-item" href="”#”">Início</a>
        <svg class="breadcrumb-icon">
          <Right />
        </svg>
  
        <a class="breadcrumb-item" href="”#”">Feminino</a>
        <svg class="breadcrumb-icon">
          <Right />  
        </svg>
  
        <a class="breadcrumb-item" href="”#”">Vestidos</a>
        <svg class="breadcrumb-icon">
          <Right />  
        </svg>
  
        <a class="breadcrumb-item __active" href="”#”">Ver Detalhes</a>
      </div>
    </nav>
  </div>
  <main class="page">
    <div class="container">
      <div class="product-details">
        <div class="product-images">
          <div class="thumbs">
            <button class="thumb-btn __reset">
              <Image
                class="thumb __active"
                src={img1}
                alt="produto"
              />
            </button>
            <button class="thumb-btn __reset">
              <Image
                class="thumb"
                src={img2}
                alt="produto"
              />
            </button>
            <button class="thumb-btn __reset">
              <Image
                class="thumb"
                src={img3}
                alt="produto"
              />
            </button>
          </div>
          <div class="prod-item">
            <button class="prod-item-btn __reset">
              <Heart />
            </button>
            <Image class="prod-item-img" src={img1} alt="produto" />
          </div>
        </div>
  
        <div class="product-info">
          <h1 class="title-prod">Vestido Intense Manga Longa</h1>
          <p class="reference">Ref: 0000000</p>
          <div class="assessment-box">
            <div class="star-rate">
              <Star/>            
              <Star/>            
              <Star/>            
              <Star/>            
              <Star className="__limit"/>           
            </div>
              <a class="assessment">Ver avaliaçoes</a>
          </div>  
          <div class="color-box">
            <p>Selecione a cor</p>
            <div class="option-color">
              <button class="color-btn __color-one"></button>
              <button class="color-btn __color-two"></button>
              <button class="color-btn __color-three" ></button>
            </div>
          </div>
          <div class="size-box">
            <p>Selecione o tamanho</p>
          <div class="size">
              <button class="size-btn">PP</button>
              <button class="size-btn">P</button>
              <button class="size-btn">M</button>
              <button class="size-btn">G</button>
              <button class="size-btn">GG</button>
          </div>
            <a class="table-size">Ver tabela de tamanhos</a>
          </div>
          <div class="stock-notice">
            <p class="notice">Últimos 2 produtos em estoque. Não perca esta chance!</p>
          </div>
          <div class="info-value">
            <div class="discount">
              <span class="percent-discount">10% off</span>
            </div>
            <div class="value">
              <span class="off-discount">R$ 97,20</span>
              <span class="on-discount">R$ 87,48</span>
            </div>
            <span class="info-pay">Parcelados em até 4x sem juros no cartão</span>
          </div>
          <div class="cart">
            <button class="cart-btn">
              <Cart />
              <span>
                Adicionar ao carrinho
              </span>
            </button>
          </div>
          <div class="calculator-shipping">
            <span class="calculator-label">Calcule o prazo e o valor da entrega</span>
            <div class="calculator">
              <input class= "calculator-input" type="text" placeholder="00000-000" />
              <button class="calculator-btn">Calcular</button>
            </div>
          </div>
          <div class="prod-detail-mob">
            <div class="title-detail">
              <span class="title">Detalhes do Produto</span>
              <button class="btn-detail"><Down /></button>
            </div>
            <div class="title-detail-content">
              <p class="text-info">
                O nosso modelo de vestido Intense com certeza é a tendência do
                momento! Com um corte justo no corpo, ele realça suas curvas de forma
                leve e sensual. Feito com uma combinação de tecidos de alta qualidade,
                incluindo lycra, poliéster e algodão, o vestido Intense proporciona um
                conforto excepcional. O design sem estampa adiciona um toque
                minimalista e versátil ao seu look, perfeito para ocasiões casuais.
                Seja para um encontro descontraído ou uma tarde entre amigos, este
                vestido é a escolha certa para um estilo sensual e sofisticado ao
                mesmo tempo.
              </p>
            </div>
          </div>
          <div class="prod-trent-mob">
            <div class="title-detail">
              <span class="title">Caracteristicas do Produto</span>
              <button class="btn-detail"><Down /></button>
            </div>
            <div class="title-detail-content">
              <p class="text-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam
                nulla facilisi cras fermentum odio eu feugiat pretium. Nibh ipsum
                consequat nisl vel pretium lectus quam id. Curabitur vitae nunc sed
                velit dignissim sodales ut eu sem. Et tortor consequat id porta.
                Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet.
              </p>
            </div>
          </div>
          <div class="payment">
            <div class="title-detail">
              <span class="title">Formas de Pagamento</span>
              <button class="btn-detail"><Down /></button>
            </div>
            <div class="title-detail-content">
              <ul class="pay-list">
                <li>Pix</li>
                <li>Boleto</li>
                <li>Cartao de Credito</li>
              </ul>
            </div>
          </div>
          <div class="return">
            <div class="title-detail">
              <span class="title">Trocas e Devolucao</span>
              <button class="btn-detail"><Down /></button>
            </div>
            <div class="title-detail-content">
              <p class="text-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam
                nulla facilisi cras fermentum odio eu feugiat pretium. Nibh ipsum
                consequat nisl vel pretium lectus quam id. Curabitur vitae nunc sed
                velit dignissim sodales ut eu sem. Et tortor consequat id porta.
                Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="prod-info-desk">
        <d class="prod-info-head">
          <a class="prod-info-link __active" id="prod-nav-details"><h2>Descricao do produto</h2></a>
          <a class="prod-info-link" id="prod-nav-trent"><h2>Caracteristicas do Produto</h2></a>
        </div>
        <div class="prod-info-body">
          <div id="prod-content-details" class="prod-info-desk-content">
            <p>
              O nosso modelo de vestido Intense com certeza é a tendência do
              momento! Com um corte justo no corpo, ele realça suas curvas de forma
              leve e sensual. Feito com uma combinação de tecidos de alta qualidade,
              incluindo lycra, poliéster e algodão, o vestido Intense proporciona um
              conforto excepcional. O design sem estampa adiciona um toque
              minimalista e versátil ao seu look, perfeito para ocasiões casuais.
              Seja para um encontro descontraído ou uma tarde entre amigos, este
              vestido é a escolha certa para um estilo sensual e sofisticado ao
              mesmo tempo.
            </p>
          </div>
          <div id="prod-content-trent" class="prod-info-desk-content __inactive">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam
              nulla facilisi cras fermentum odio eu feugiat pretium. Nibh ipsum
              consequat nisl vel pretium lectus quam id. Curabitur vitae nunc sed
              velit dignissim sodales ut eu sem. Et tortor consequat id porta. Nunc
              mi ipsum faucibus vitae aliquet nec ullamcorper sit amet.
            </p>
          </div>
          
      </div >
    
      </div>
      
      <div class="info-transfer-mob">
        <div class="transfer">
          <Transfer />
        </div>
        <div class="info-transfer">
          <p class="title-transfer">
            Entrega Rápida
          </p>
          <p class="subtitle-transfer">
            Enviamos para todo Brasil
          </p>
        </div>
      </div>
    </div>

    <!-- <div>
      <p>Produtos que você também pode gostar</p>
      <div>
        <Image src={img4} alt="produto" width="263" height="340" />
        <span>Novo!</span>
        <p>Blazer Off white</p>
        <p>R$ 140,70</p>
        <div>
          <Image src={img5} alt="produto" width="263" height="340" />
          <span>Novo!</span>
          <p>Jaqueta Couro Sintetico</p>
          <p>R$ 140,70</p>
        </div>
        <div>
          <Image src={img6} alt="produto" width="263" height="340" />
          <span>25% off</span>
          <p>Calça Wide Leg Destroyed</p>
          <p>R$ 140,70</p>
        </div>
        <div>
          <Image src={img7} alt="produto" width="263" height="340" />
          <span>Novo!</span>
          <p>Camisa Jeans com Bolsos</p>
          <p>R$ 140,70</p>
        </div>
      </div>
    </div> -->
  </main>
</Layout>
